body {
    font-size: 14px;
}

.block-area {
    display: flex;
    justify-content: space-between;
    .block-area-half {
        width: calc((100% - 3em) / 2);
        box-sizing: border-box;
    }
}