.site-header {
    padding-top: 60px;
    background-color: $color-white;
    @media screen and (min-width: 48em) {
        padding-top: 180px;
    }
    .custom-header {
        max-width: 100vw;
        height: auto !important;
        overflow: hidden;
        @media screen and (min-width: 48em) {
            max-width: 1200px;
            overflow: visible;
        }
        margin: 0 auto;
    }
    .custom-header-media,
    .wp-custom-header,
    iframe, img {
        margin: auto 0 auto auto;
        width: 70vw;
        height: 50vw;
        @media screen and (min-width: 48em) {
            width: $video-size !important;
            max-width: $video-size !important;
            min-width: $video-size !important;
            height: calc((#{$video-size} / 16) * 9) !important;
            //max-height: calc(($video-size * 16) / 9) !important;
            //min-height: calc(($video-size * 16) / 9) !important;
            overflow: hidden;
            border-radius: 10px;
        }
    }
    .custom-header-media {
        margin: 20vw 0 0 30%;
        opacity: .5;
        @media screen and (min-width: 48em) {
            margin: auto 0 auto auto;
            opacity: 1;
        }
        &:before {
            height: 100% !important;
            background: linear-gradient(45deg, rgba(52, 175, 165, 0.15), rgba(179, 214, 211, 0.15), rgba(180, 132, 184, 0.15)), url(https://wcosaka2018.github.io/wcosaka2018-theme/images/bg-geometric-movie.png);
        }
    }
    .wp-custom-header {
        iframe {
            top: auto !important;
            left: auto !important;
            right: auto !important;
            bottom: auto !important;
            position: static !important;
        }
        img {
            position: absolute !important;
        }
    }
    .site-branding {
        margin: 0 !important;
        padding: 0 !important;
        vertical-align: top !important;
        .wrap {
            padding: 0;
            margin: 0;
            max-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (min-width: 48em) {
                max-width: 600px;
                height: calc((#{$video-size} / 16) * 9) !important;
            }
        }
        .site-branding-text {
            width: 100%;
            @media screen and (min-width: 48em) {
                position: absolute;
                top: -100px;
                left: 0;
            }
            .site-title {
                font-size: 1rem;
                padding: 1em 1.25em;
                a {
                    display: block;
                    background-image: url('../docs/images/layout/logo-front.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: top left;
                    text-indent: -1000%;
                    overflow: hidden;
                    max-width: 80vw;
                    height: calc((100vw / 3) * 2);
                    @media screen and (min-width: 48em) {
                        background-position: center center;
                        width: 600px;
                        height: calc((600px / 3) * 2);
                    }
                }
            }
        }
        .site-description {
            display: none;
        }
    }

    .wp-custom-header-video-button {
        position: absolute;
        top: 30px;
        border-radius: 50%;
        z-index: 9998;
    }
}


