.site-header {
    .navigation-top {
        width: 100vw;
        background-color: transparent;
        padding-bottom: 1em;
        position: fixed;
        top: 0;
        left: 0;
        bottom: auto;
        border: none;
        z-index: 9999;
        @media screen and (min-width: 48em) {
            padding-bottom: 0;
            background-color: $color-white;
            .wrap {
                max-width: 100vw;
                padding: 0 1.5em;
            }
            nav {
                margin-left: 0;
            }
        }
        &:before {
            content: "";
            display: block;
            height: 8px;
            width: 100%;
            background: $color-white linear-gradient(to right, rgba($color-green, .5), rgba($color-lilac, .5));
        }
        .menu-toggle {
            z-index: 99999;
            outline: none;
            box-sizing: border-box;
            cursor: pointer;
            width: 2em;
            height: 2em;
            padding: 0;
            overflow: hidden;
            margin: 1em 1em 0 auto;
            .icon {
                height: 2em;
                width: 2em;
            }
        }
        .menu-scroll-down {
            display: none;
        }
    }
}

.main-navigation {
    padding-top: 1px;
    @media screen and (min-width: 48em) {
        padding-top: 0;
    }
    a {
        font-size: .8rem;
        @media screen and (min-width: 48em) {
            font-size: .8rem;
        }
        &:hover {
            color: initial;
        }
    }
    > div {
        > ul {
            border: none;
        }
    }
    &.toggled-on {
        height: 100vh;
        background-color: rgba($color-white, 1);
    }
}

.home {
    .navi-home {
        @media screen and (min-width: 48em) {
            display: none;
        }
    }
    .site-navigation-fixed {
        .navi-home {
            @media screen and (min-width: 48em) {
                display: block;
            }
        }
    }
}

.navi-ticket {
    margin-top: 2em;
    @media screen and (min-width: 48em) {
        margin-top: 0;
        padding-left: 1em !important;
    }
    a {
        @include btn-link();
        @media screen and (min-width: 48em) {
            text-align: left;
        }
    }
}

.js {
    .main-navigation {
        ul.menu {
            background-color: transparent;
            @media screen and (min-width: 48em) {
                display: flex;
                justify-content: flex-end;
                li {
                    padding: .75em 0;
                }
                > li {
                    &:first-child {
                        flex: 1;
                        a {
                            position: relative;
                            content: "";
                            display: inline-block;
                            width: 150px;
                            height: 48px;
                            //overflow: hidden;
                            padding-left: 0;
                            padding-right: 0;
                            text-indent: -1000%;
                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 150px;
                                height: 48px;
                                //line-height: 52px;
                                display: block;
                                //background: $color-white;
                                //color: rgba($color-green, .5);
                                //font-size: 36px;
                                //content: "\f102";
                                //font-family: dashicons;
                                text-indent: 0;
                                background-image: url("https://wcosaka2018.github.io/wcosaka2018-theme/images/layout/logo-main.svg");
                                background-repeat: no-repeat;
                                background-size: contain;
                                opacity: .15;
                                transition: .3s;
                            }
                            &:hover {
                                &:after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &:not(:first-child):not(.navi-ticket){
                        &:hover {
                            background-color: rgba($color-green, .25);
                        }
                    }
                    &:before,
                    &:after {
                        display: none;
                    }
                    ul {
                        border: none;
                        background-color: rgba($color-green, .8);
                        li {
                            a {
                                color: $color-white;
                            }
                            &:hover {
                                background-color: rgba($color-green, 1);
                            }
                        }
                    }
                    &:hover {
                        ul {
                            left: 0;
                        }
                    }
                    &:last-child {
                        &:hover {
                            ul {
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
