.site-header {
    .navigation-top {
        width: 100vw;
        padding-bottom: 1em;
        position: fixed;
        top: 0;
        left: 0;
        bottom: auto;
        border: none;
        z-index: 9999;
        &:before {
            content: "";
            display: block;
            height: 8px;
            width: 100%;
            background: linear-gradient(to right, rgba($color-green, .5), rgba($color-lilac, .5));
        }
        .menu-toggle {
            z-index: 99999;
            outline: none;
            box-sizing: border-box;
            cursor: pointer;
            width: 2em;
            height: 2em;
            padding: 0;
            overflow: hidden;
            margin: 1em 1em 0 auto;
            .icon {
                height: 2em;
                width: 2em;
            }
        }
        .menu-scroll-down {
            display: none;
        }
    }
}

.main-navigation {
    a {
        &:hover {
            color: initial;
        }
    }
    > div {
        > ul {
            border: none;
        }
    }
}

.home {
    .navi-home {
        @media screen and (min-width: 48em) {
            display: none;
        }
    }
    .site-navigation-fixed {
        .navi-home {
            @media screen and (min-width: 48em) {
                display: block;
            }
        }
    }
}

.navi-ticket {
    margin-top: 2em;
    @media screen and (min-width: 48em) {
        margin-top: 0;
    }
    a {
        @include btn-link();
        @media screen and (min-width: 48em) {
            text-align: left;
        }
    }
}

@media screen and (min-width: 48em) {
    .navigation-top {
        .wrap {
            max-width: 100vw;
            padding: 0.75em 1.5em;
        }
    }
    .js {
        .main-navigation {
            ul.menu {
                display: flex;
                justify-content: flex-end;
                li {
                    &:first-child {
                        flex: 1;
                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
