$base-color: #B3D6D3;
$color-brown: #682C2C;
$color-orange: #DB6446;
$color-lilac: #B484B8;
$color-green: #34AFA5;
$color-black: #131E24;
$color-white: #ffffff;

$video-size: 700px;

@mixin btn-link( $display:block, $color-start:rgba($color-green, .9), $color-end:rgba($color-lilac, .9) ) {
    display: $display;
    padding: 1em 2em;
    border-radius: 1.75em;
    background: linear-gradient(to right, $color-start, rgba($color-lilac, .9));
    color: $color-white;
    text-align: center;
    position: relative;
    z-index: 2;
    box-shadow: none;
    &:hover {
        background: linear-gradient(to right, rgba($color-green,.8),rgba( $color-lilac,.8));
        color: $color-white;
        box-shadow: none;
    }
}

@mixin text-gradation( $dig:85deg, $start:$color-lilac, $end:$color-green) {
    background: -webkit-linear-gradient($dig, $start, $end);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin bg-gradation() {
    background:
        linear-gradient(45deg,rgba(52,175,165,0.15),rgba(179,214,211,0.15),rgba(180,132,184,0.15)),
        url(https://wcosaka2018.github.io/wcosaka2018-theme/images/bg-geometric.png);
}

@mixin bigIndexBefore( $content:"" ) {
    position: absolute;
    bottom: .2em;
    left: 50%;
    transform: translateY(0) translateX(-50%);
    text-transform: uppercase;
    content: $content;
    white-space: pre;
    z-index: 1;
    color: rgba($color-black, .05);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 1;
    font-size: 3.5rem;
}

@mixin bigIndexText() {
    position: relative;
    z-index: 2;
    @include text-gradation();
    font-size: 1.75rem;
    text-transform: none;
    margin-bottom: 1em;
}