$base-color: #B3D6D3;
$color-brown: #682C2C;
$color-orange: #DB6446;
$color-lilac: #B484B8;
$color-green: #34AFA5;
$color-black: #131E24;
$color-white: #ffffff;

$video-size: 700px;

@mixin btn-link( $display:block ) {
    display: $display;
    padding: 1em 2em;
    border-radius: 1.75em;
    background: linear-gradient(to right, $color-green, $color-lilac);
    color: $color-white;
    text-align: center;
    position: relative;
    z-index: 2;
    box-shadow: none;
    &:hover {
        background: linear-gradient(to right, rgba($color-green,.8),rgba( $color-lilac,.8)) $color-white;
        color: $color-white;
        box-shadow: none;
    }
}
