.site-description {
  display: none;
}

/*===header-menu===*/
.navigation-top {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: transparent;
  box-sizing: border-box !important;
  width: 100%;
  z-index: 99998;
}

.navigation-top .menu-toggle {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 99999;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  width: 3em;
  height: 3em;
  overflow: hidden;
}

.navigation-top .menu-toggle .icon {
  height: 2em;
  width: 2em;
}

.navigation-top .menu-toggle .icon-bars {
  color: #B3D6D3;
}

.navigation-top .menu-toggle .icon-close {
  color: #131E24;
}

.navigation-top .wrap {
  max-width: 100%;
}

.navigation-top .wrap a {
  font-size: 15px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.panel-image {
  display: none;
}

.dropdown-toggle {
  border: 0;
  color: #333;
  font-size: 16px;
  padding: 0.5em;
  position: static;
  display: inline-block;
  outline: none;
}

.main-navigation a {
  display: inline-block;
}

.main-navigation .menu {
  border: none;
  background: none;
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-navigation .menu > li {
  border-bottom: none;
  padding: .5em 0;
  display: none;
}

.main-navigation .menu > li:not(.btn-join) {
  display: none;
}

.main-navigation li li.focus {
  background: #34AFA5;
}

.main-navigation.toggled-on .menu {
  background: #fff;
}

.main-navigation.toggled-on .menu > li {
  display: block;
}

.menu > li.join {
  border: 1px solid #ccc;
  display: none;
  text-align: center;
  margin: 10px 0;
  padding: 0;
}

.menu > li.join a {
  display: block;
  padding: 10px 0;
  color: #666;
  background: #fff;
  transition: all .2s;
}

.menu > li.join a:hover {
  background: #B3D6D3;
  color: #fff;
}

.main-navigation.toggled-on .menu > li.join {
  display: block;
}

.menu > li.btn-join {
  display: none;
}

.home .menu > li.btn-join {
  display: block;
  position: absolute;
  top: 420px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.home .menu > li.btn-join a {
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  background: #34AFA5;
  padding: 10px 20px;
  transition: background .8s;
}

.home .menu > li.btn-join a:hover {
  background: #B484B8;
}

.menu li.twitter,
.menu li.facebook {
  display: none;
}

@media screen and (min-width: 22em) {
  .home .menu > li.btn-join {
    top: 540px;
  }
}

@media screen and (min-width: 24em) {
  .home .menu > li.btn-join {
    top: 480px;
  }
  .home .menu > li.btn-join a {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 48em) {
  .navigation-top {
    height: 70px;
    box-sizing: border-box;
    background: linear-gradient(to right, #B3D6D3, #B484B8);
  }
  .navigation-top .wrap {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0;
    height: 62px;
    background: #fff;
    margin-top: 8px;
  }
  .navigation-top .wrap a {
    font-size: 14px;
    font-size: 0.85rem;
    line-height: 62px;
    padding: 0 10px;
    outline: none;
    transition: all .3s;
  }
  .navigation-top .wrap a:hover {
    color: #fff;
  }
  .navigation-top nav {
    margin: 0 30px;
  }
  .navigation-top.site-navigation-fixed {
    box-shadow: 0 1px 5px -2px rgba(200, 200, 200, 0.7);
  }
  .navigation-top.site-navigation-fixed .menu > li.btn-join {
    display: none !important;
  }
  .main-navigation .menu {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 0;
    letter-spacing: 0;
  }
  .main-navigation .menu li {
    border-bottom: none;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s;
  }
  .main-navigation .menu li a {
    color: #666;
  }
  .main-navigation .menu li:hover {
    background: #B3D6D3;
  }
  .main-navigation .menu li:hover a {
    color: #fff;
  }
  .main-navigation .menu li:hover > ul {
    left: 0;
  }
  .main-navigation .menu li.menu-item-has-children:before,
  .main-navigation .menu li.menu-item-has-children:after,
  .main-navigation .menu li.page_item_has_children:before,
  .main-navigation .menu li.page_item_has_children:after {
    border: none;
    border-width: 0 6px 6px;
    height: 0;
    right: 1em;
    bottom: 0px;
    width: 0;
  }
  .main-navigation .menu ul {
    border: none;
    top: 100%;
    left: 0;
    transition: all .3s;
  }
  .main-navigation .menu > li:not(.btn-join) {
    display: inline-block;
  }
  .menu {
    display: flex !important;
    justify-content: flex-start;
  }
  .menu ul a {
    color: #fff !important;
    opacity: 0;
    transition: all .3s;
  }
  .menu ul li {
    overflow: hidden;
    height: 0;
    transition: .3s;
    line-height: 62px;
    background: #B3D6D3;
    transition: all .3s;
  }
  .menu ul li:hover {
    background: #34AFA5 !important;
  }
  .menu li:hover ul li {
    overflow: visible;
    height: 62px;
  }
  .menu li:hover ul li a {
    opacity: 1.0;
  }
  .menu > li.join {
    border: none;
    margin-top: 0px;
  }
  .menu > li.join a {
    display: block;
    padding: 0;
    background: transparent;
    transition: none;
    padding: 0 10px;
    color: #666;
    transition: all .3s;
  }
  .menu > li.join a:hover {
    background: #B3D6D3;
    color: #fff;
  }
  .home .menu > li.btn-join {
    top: 340px;
  }
  .home .menu > li.btn-join a {
    line-height: 40px;
    padding: 10px 30px;
  }
  .menu li.facebook,
  .menu li.twitter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .menu li.facebook a,
  .menu li.twitter a {
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #ccc;
  }
  .menu li.facebook a:hover,
  .menu li.twitter a:hover {
    color: #B3D6D3;
  }
  .menu li.twitter:hover,
  .menu li.facebook:hover {
    background: #fff;
  }
  .menu li.twitter {
    right: 55px;
  }
  .menu li.facebook {
    right: 15px;
  }
  .menu-scroll-down {
    display: none !important;
  }
  .social-navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 100000;
    padding: 15px 0;
    width: auto;
    margin-right: 30px;
  }
  .social-navigation a {
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #ccc;
    display: inline-block;
    height: 40px;
    margin: 0;
    text-align: center;
    width: 40px;
  }
  .social-navigation a:hover {
    color: #B3D6D3;
    background: none;
  }
  .social-navigation .icon {
    height: 20px;
    width: 20px;
  }
}

@media screen and (min-width: 52em) {
  .menu > li.btn-join {
    top: 360px;
  }
}

@media screen and (min-width: 54em) {
  .home .menu > li.btn-join {
    top: 380px;
  }
}

@media screen and (min-width: 56em) {
  .home .menu > li.btn-join {
    top: 400px;
  }
}

@media screen and (min-width: 58em) {
  .home .menu > li.btn-join {
    top: 420px;
  }
}

@media screen and (min-width: 60em) {
  .navigation-top .wrap a {
    font-size: 14px;
    padding: 0 20px;
  }
  .menu > li.join a {
    padding: 0 20px;
  }
  .home .menu > li.btn-join {
    top: 450px;
  }
}

@media screen and (min-width: 64em) {
  .home .menu > li.btn-join {
    top: 490px;
  }
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

/*sponsor*/
.site-footer {
  border: none;
}

.site-footer h2 {
  font-size: 24px !important;
  font-size: 1.5rem !important;
  color: #333 !important;
  text-transform: none !important;
  margin-bottom: 1.5em;
}

.site-footer a {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.sponsor-level {
  font-size: 0;
  letter-spacing: 0;
  margin-bottom: 30px;
  margin-left: -4%;
}

.sponsor-level h4 {
  padding-left: 4%;
}

.sponsor-level .sponsor-logo {
  font-size: 1rem;
  display: inline-block !important;
  box-sizing: border-box;
  padding-left: 4%;
  margin-bottom: 2%;
}

.sponsor-level .sponsor-logo img {
  width: 100% !important;
  max-height: 300px;
}

.sponsor-level .sponsor-logo:hover {
  opacity: 0.7;
}

.sponsor-level.plutinum .sponsor-logo {
  width: 100%;
}

.sponsor-level.gold .sponsor-logo {
  width: 100%;
}

.sponsor-level.silver .sponsor-logo {
  width: calc(100% / 2);
}

.sponsor-level.bronze .sponsor-logo {
  width: calc(100% / 2);
}

.sponsor-level.micro .sponsor-logo {
  width: calc(100% / 2);
}

/*footer*/
.site-info {
  width: 100%;
  border-top: 1px solid #333;
  float: none;
  text-align: center;
  padding-top: 30px;
}

.site-info a {
  position: relative;
}

.site-info a:after {
  z-index: 2;
  display: block;
  position: absolute;
  background: #fff;
  color: #34AFA5;
  font-size: 40px;
  content: "\f120";
  font-family: dashicons;
  text-indent: 0;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 30px;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.social-navigation + .site-info {
  margin-left: 0;
}

@media screen and (min-width: 48em) {
  .site-footer h2 {
    font-size: 28px !important;
    font-size: 1.75rem !important;
    text-transform: none !important;
    display: flex;
    align-items: center;
    text-align: center;
    /* for no-flexbox browsers */
    margin-bottom: 3.0em;
  }
  .site-footer h2:after {
    border-top: 1px solid #ccc;
    content: "";
    display: inline;
    /* for IE */
    flex-grow: 1;
    margin-left: 0.5em;
  }
  .site-footer .widget-column.footer-widget-1 {
    float: none;
    width: 100%;
  }
  .sponsor-level.platinum .sponsor-logo {
    width: calc(100% / 2);
  }
  .sponsor-level.gold .sponsor-logo {
    width: calc(100% / 3);
  }
  .sponsor-level.silver .sponsor-logo {
    width: calc(100% / 4);
  }
  .sponsor-level.bronze .sponsor-logo {
    width: calc(100% / 5);
  }
  .sponsor-level.micro .sponsor-logo {
    width: calc(100% / 7);
  }
}

.blog .entry-content h1, .blog .entry-content h2, .blog .entry-content h3, .blog .entry-content h4, .blog .entry-content h5, .blog .entry-content h6, .single .entry-content h1, .single .entry-content h2, .single .entry-content h3, .single .entry-content h4, .single .entry-content h5, .single .entry-content h6, .single-post .entry-content h1, .single-post .entry-content h2, .single-post .entry-content h3, .single-post .entry-content h4, .single-post .entry-content h5, .single-post .entry-content h6, .page:not(.home) .entry-content h1, .page:not(.home) .entry-content h2, .page:not(.home) .entry-content h3, .page:not(.home) .entry-content h4, .page:not(.home) .entry-content h5, .page:not(.home) .entry-content h6 {
  color: #333;
  padding: 5px 0;
  margin-bottom: 20px;
}

.blog .entry-content h1, .single .entry-content h1, .single-post .entry-content h1, .page:not(.home) .entry-content h1 {
  font-size: 30px;
  font-size: 1.875rem;
  color: #333;
  margin-bottom: 30px;
}

.blog .entry-content h2, .single .entry-content h2, .single-post .entry-content h2, .page:not(.home) .entry-content h2 {
  font-size: 22px;
  font-size: 1.375rem;
  border-bottom: 2px solid #eee;
  padding: 5px 0;
  margin-bottom: 30px;
}

.blog .entry-content h3, .single .entry-content h3, .single-post .entry-content h3, .page:not(.home) .entry-content h3 {
  font-size: 18px;
  font-size: 1.125rem;
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  margin-bottom: 30px;
}

.blog .entry-content h4, .single .entry-content h4, .single-post .entry-content h4, .page:not(.home) .entry-content h4 {
  font-size: 16px;
  font-size: 1rem;
}

.blog .entry-content h5, .single .entry-content h5, .single-post .entry-content h5, .page:not(.home) .entry-content h5 {
  font-size: 15px;
  font-size: 0.9375rem;
}

.blog .entry-content h6, .single .entry-content h6, .single-post .entry-content h6, .page:not(.home) .entry-content h6 {
  font-size: 15px;
  font-size: 0.9375rem;
}

.blog .entry-content blockquote, .single .entry-content blockquote, .single-post .entry-content blockquote, .page:not(.home) .entry-content blockquote {
  position: relative;
  padding: 10px 15px 10px 50px;
  box-sizing: border-box;
  font-style: italic;
  border: solid 2px #666;
  color: #666;
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 30px;
}

.blog .entry-content blockquote p, .single .entry-content blockquote p, .single-post .entry-content blockquote p, .page:not(.home) .entry-content blockquote p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}

.blog .entry-content blockquote cite, .single .entry-content blockquote cite, .single-post .entry-content blockquote cite, .page:not(.home) .entry-content blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
  font-weight: 400;
}

.blog .entry-content blockquote:before, .single .entry-content blockquote:before, .single-post .entry-content blockquote:before, .page:not(.home) .entry-content blockquote:before {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 15px;
  vertical-align: middle;
  content: "\f10d";
  font-family: FontAwesome;
  color: #B3D6D3;
  font-size: 25px;
  line-height: 1;
}

.blog .entry-content table, .single .entry-content table, .single-post .entry-content table, .page:not(.home) .entry-content table {
  font-size: 15px;
  font-size: 0.9375rem;
}

.blog .entry-content table thead, .single .entry-content table thead, .single-post .entry-content table thead, .page:not(.home) .entry-content table thead {
  border-bottom: 2px solid #ddd;
}

.blog .entry-content table thead th, .single .entry-content table thead th, .single-post .entry-content table thead th, .page:not(.home) .entry-content table thead th {
  border-bottom: none;
  padding: 0.5rem;
  font-weight: 700 !important;
}

.blog .entry-content table th:first-child, .single .entry-content table th:first-child, .single-post .entry-content table th:first-child, .page:not(.home) .entry-content table th:first-child {
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-weight: 400;
}

.blog .entry-content table td, .single .entry-content table td, .single-post .entry-content table td, .page:not(.home) .entry-content table td {
  padding: 0.5rem;
}

.blog .entry-content dt, .single .entry-content dt, .single-post .entry-content dt, .page:not(.home) .entry-content dt {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.7;
  margin-bottom: 5px;
}

.blog .entry-content dd, .single .entry-content dd, .single-post .entry-content dd, .page:not(.home) .entry-content dd {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-left: 0;
  line-height: 1.7;
}

.blog .entry-content ul, .single .entry-content ul, .single-post .entry-content ul, .page:not(.home) .entry-content ul {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 30px;
  line-height: 1.7;
  padding-left: 1.5rem;
}

.blog .entry-content ul ul, .blog .entry-content ul ol, .single .entry-content ul ul, .single .entry-content ul ol, .single-post .entry-content ul ul, .single-post .entry-content ul ol, .page:not(.home) .entry-content ul ul, .page:not(.home) .entry-content ul ol {
  margin-bottom: 0px;
  padding-left: 0;
}

.blog .entry-content ol, .single .entry-content ol, .single-post .entry-content ol, .page:not(.home) .entry-content ol {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 30px;
  line-height: 1.7;
  padding-left: 1.5rem;
}

.blog .entry-content ol ul, .blog .entry-content ol ol, .single .entry-content ol ul, .single .entry-content ol ol, .single-post .entry-content ol ul, .single-post .entry-content ol ol, .page:not(.home) .entry-content ol ul, .page:not(.home) .entry-content ol ol {
  margin-bottom: 0;
  padding-left: 0;
}

.blog .entry-content a, .single .entry-content a, .single-post .entry-content a, .page:not(.home) .entry-content a {
  color: #34AFA5;
  box-shadow: none;
  transition: all .3s;
}

.blog .entry-content a:hover, .single .entry-content a:hover, .single-post .entry-content a:hover, .page:not(.home) .entry-content a:hover {
  color: #B3D6D3;
  box-shadow: none;
}

.blog .entry-content a:active, .single .entry-content a:active, .single-post .entry-content a:active, .page:not(.home) .entry-content a:active {
  color: #B3D6D3;
  box-shadow: none;
}

.blog .entry-content p, .single .entry-content p, .single-post .entry-content p, .page:not(.home) .entry-content p {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.7;
}

.blog .entry-content .page-links .page-number, .single .entry-content .page-links .page-number, .single-post .entry-content .page-links .page-number, .page:not(.home) .entry-content .page-links .page-number {
  background: #B3D6D3;
  border-radius: 5px;
  color: #fff;
}

.blog .entry-content .page-links a .page-number, .single .entry-content .page-links a .page-number, .single-post .entry-content .page-links a .page-number, .page:not(.home) .entry-content .page-links a .page-number {
  background: #eee;
  box-shadow: none;
  color: #333;
  transition: all .3s;
}

.blog .entry-content .page-links a:hover, .single .entry-content .page-links a:hover, .single-post .entry-content .page-links a:hover, .page:not(.home) .entry-content .page-links a:hover {
  box-shadow: none;
}

.blog .entry-content .page-links a:hover .page-number, .single .entry-content .page-links a:hover .page-number, .single-post .entry-content .page-links a:hover .page-number, .page:not(.home) .entry-content .page-links a:hover .page-number {
  background: #B3D6D3;
  color: #fff;
}

.blog .entry-content .page-links a:active, .single .entry-content .page-links a:active, .single-post .entry-content .page-links a:active, .page:not(.home) .entry-content .page-links a:active {
  box-shadow: none;
}

@media screen and (min-width: 48em) {
  .blog .entry-content h1, .single .entry-content h1, .single-post .entry-content h1, .page:not(.home) .entry-content h1 {
    font-size: 32px;
    font-size: 2rem;
  }
  .blog .entry-content h2, .single .entry-content h2, .single-post .entry-content h2, .page:not(.home) .entry-content h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .blog .entry-content h3, .single .entry-content h3, .single-post .entry-content h3, .page:not(.home) .entry-content h3 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .blog .entry-content h4, .single .entry-content h4, .single-post .entry-content h4, .page:not(.home) .entry-content h4 {
    font-size: 18px;
    font-size: 1.125rem;
  }
  .blog .entry-content h5, .single .entry-content h5, .single-post .entry-content h5, .page:not(.home) .entry-content h5 {
    font-size: 16px;
    font-size: 1.0rem;
  }
  .blog .entry-content h6, .single .entry-content h6, .single-post .entry-content h6, .page:not(.home) .entry-content h6 {
    font-size: 16px;
    font-size: 1.0rem;
  }
  .blog .entry-content blockquote, .single .entry-content blockquote, .single-post .entry-content blockquote, .page:not(.home) .entry-content blockquote {
    font-size: 16px;
    font-size: 1rem;
  }
  .blog .entry-content table, .single .entry-content table, .single-post .entry-content table, .page:not(.home) .entry-content table {
    font-size: 16px;
    font-size: 1rem;
  }
  .blog .entry-content table dt, .single .entry-content table dt, .single-post .entry-content table dt, .page:not(.home) .entry-content table dt {
    font-size: 16px;
    font-size: 1rem;
  }
  .blog .entry-content table dd, .single .entry-content table dd, .single-post .entry-content table dd, .page:not(.home) .entry-content table dd {
    font-size: 16px;
    font-size: 1rem;
  }
  .blog .entry-content ul, .single .entry-content ul, .single-post .entry-content ul, .page:not(.home) .entry-content ul {
    font-size: 16px;
    font-size: 1rem;
  }
  .blog .entry-content ol, .single .entry-content ol, .single-post .entry-content ol, .page:not(.home) .entry-content ol {
    font-size: 16px;
    font-size: 1rem;
  }
  .blog .entry-content p, .single .entry-content p, .single-post .entry-content p, .page:not(.home) .entry-content p {
    font-size: 16px;
    font-size: 1rem;
  }
}

.blog .post-thumbnail, .single .post-thumbnail, .single-post .post-thumbnail, .page:not(.home) .post-thumbnail {
  box-sizing: border-box;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.blog .post-thumbnail img, .single .post-thumbnail img, .single-post .post-thumbnail img, .page:not(.home) .post-thumbnail img {
  width: 100vw;
}

@media screen and (min-width: 48em) {
  .blog .post-thumbnail, .single .post-thumbnail, .single-post .post-thumbnail, .page:not(.home) .post-thumbnail {
    margin-left: 0;
    margin-right: 0;
  }
  .blog .post-thumbnail img, .single .post-thumbnail img, .single-post .post-thumbnail img, .page:not(.home) .post-thumbnail img {
    width: 100%;
  }
}

body:not(.home) .site-header {
  background-color: transparent;
  height: 65px;
}

body:not(.home) .site-header .custom-header,
body:not(.home) .site-header .site-branding {
  display: none;
}

.single-featured-image-header {
  background-color: #ffffff;
  border: none;
  display: none;
}

.entry-title {
  color: #333;
  background: -webkit-linear-gradient(85deg, #B484B8, #34AFA5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.entry-title a {
  margin-left: 0;
  font-weight: 700 !important;
  font-size: 1.5rem;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.entry-title a:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.page-header,
body:not(.home):not(.blog):not(.single) .entry-header {
  background: url(../docs/images/wapu_bg.jpg) center center no-repeat;
  background-size: contain;
  min-height: 120px;
  padding: 0 !important;
  margin: 0 0 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 48em) {
  .page-header,
  body:not(.home):not(.blog):not(.single) .entry-header {
    margin: 2em 0 4em;
  }
}

.page-header .page-title,
.page-header .entry-title,
body:not(.home):not(.blog):not(.single) .entry-header .page-title,
body:not(.home):not(.blog):not(.single) .entry-header .entry-title {
  background: -webkit-linear-gradient(85deg, #B484B8, #34AFA5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 1rem !important;
}

.page-header .page-title:before, .page-header .page-title:after,
.page-header .entry-title:before,
.page-header .entry-title:after,
body:not(.home):not(.blog):not(.single) .entry-header .page-title:before,
body:not(.home):not(.blog):not(.single) .entry-header .page-title:after,
body:not(.home):not(.blog):not(.single) .entry-header .entry-title:before,
body:not(.home):not(.blog):not(.single) .entry-header .entry-title:after {
  content: "";
  display: inline-block;
  width: 3em;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  background: linear-gradient(85deg, #34AFA5, #B484B8);
}

.page-header .page-title:before,
.page-header .entry-title:before,
body:not(.home):not(.blog):not(.single) .entry-header .page-title:before,
body:not(.home):not(.blog):not(.single) .entry-header .entry-title:before {
  left: -3.5em;
}

.page-header .page-title:after,
.page-header .entry-title:after,
body:not(.home):not(.blog):not(.single) .entry-header .page-title:after,
body:not(.home):not(.blog):not(.single) .entry-header .entry-title:after {
  right: -3.5em;
}

.page-header .edit-link,
body:not(.home):not(.blog):not(.single) .entry-header .edit-link {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 48em) {
  body:not(.has-sidebar):not(.page-one-column) .page-header, body.has-sidebar.error404 #primary .page-header, body.page-two-column:not(.archive) #primary .entry-header, body.page-two-column.archive:not(.has-sidebar) #primary .page-header {
    float: none;
    width: 100%;
  }
  .blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments {
    float: none;
    width: 100%;
  }
}

/*==========================

front-page

===========================*/
.home {
  /*main-visual*/
  /*message*/
  /*detail*/
  /*blog*/
  /*social*/
}

.home #wp-custom-header-video {
  display: none;
  background: transparent;
}

.home .site-header {
  height: 100vh;
}

.home .site-header .custom-header {
  height: 100% !important;
}

.home #masthead {
  background: url(../docs/images/main-bg-sp.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home #masthead .wrap {
  padding: 0 !important;
  text-align: center;
}

.home #masthead .wrap .home .site-title {
  justify-content: center;
}

.home .custom-header-media:before {
  background: none;
}

.home .wp-custom-header .wp-custom-header-video-button {
  opacity: 0;
}

.home .site-branding {
  margin: 0 !important;
  padding: 0 !important;
  top: 0;
  height: 100%;
  display: block;
}

.home .site-branding .wrap {
  height: 100%;
}

.home .site-branding-text {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99997;
}

.home .site-branding-text .site-title {
  transform: translateY(-60px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .site-branding-text .site-title a {
  background-image: url(../docs/images/logo-sp.png);
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70vw;
  height: 400px;
  overflow: hidden;
  text-indent: -300%;
  outline: none;
}

@media screen and (min-width: 22em) {
  .home .site-branding-text .site-title {
    transform: translateY(-75px);
  }
}

@media screen and (min-width: 30em) {
  .home .site-branding-text .site-title {
    transform: translateY(0px);
  }
  .home .site-branding-text .site-title a {
    background-image: url(../docs/images/pre-logo.png);
    width: 65vw;
    height: 150px;
  }
}

@media screen and (min-width: 48em) {
  .home .site-header {
    height: auto;
  }
  .home .site-header .custom-header,
  .home .site-header .custom-header-media {
    height: 100% !important;
  }
  .home #masthead, .home .custom-header, .home .custom-header-media {
    background: #ffffff !important;
  }
  .home .wp-custom-header {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .home .wp-custom-header:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  .home .wp-custom-header:after {
    content: "";
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    margin: 0 auto;
    background: linear-gradient(45deg, rgba(52, 175, 165, 0.3), rgba(179, 214, 211, 0.3), rgba(180, 132, 184, 0.3)), url(../docs/images/bg-geometric-movie.png);
    z-index: 2;
  }
  .home #wp-custom-header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    display: block !important;
    min-width: 10px;
    border: none;
    z-index: 2;
  }
  .home .wp-custom-header .wp-custom-header-video-button {
    position: absolute;
    top: 100px;
    border-radius: 50%;
    z-index: 10000;
    opacity: 1;
  }
  .home .site-branding-text .site-title {
    transform: translateY(35px);
  }
  .home .site-branding-text .site-title a {
    width: 50vw;
    height: 200px;
  }
}

.home .page .panel-content h2 {
  font-size: 24px !important;
  font-size: 1.5rem !important;
  color: #333 !important;
  text-transform: none !important;
}

.home .page .panel-content .top-image {
  margin-bottom: 30px;
}

.home .page .panel-content .wrap {
  padding-bottom: 0;
  max-width: 1000px;
}

.home article:not(.has-post-thumbnail):not(:first-child) {
  border: none;
}

.home .flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.home .flex-wrap .top-message {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.home .flex-wrap .top-image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

.home .entry-content .detail {
  padding-top: 1.75em;
  padding-bottom: 0.5em;
}

.home .entry-content .detail h2 {
  margin-bottom: 1.5em;
}

.home .googlemaps iframe {
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.home #panel1 .entry-header {
  display: none;
}

.home #panel1 .recent-posts .entry-header {
  display: block;
}

.home .recent-posts article a {
  margin-left: 0;
}

.home .recent-posts article a:hover {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.home .recent-posts article .entry-meta a {
  color: #aaa;
}

.home .recent-posts article:nth-child(odd) {
  background-position: 100% 2px;
}

.home .recent-posts article:nth-child(even) {
  background-position: 0 2px;
}

.home #panel2 {
  background: linear-gradient(45deg, rgba(52, 175, 165, 0.15), rgba(179, 214, 211, 0.15), rgba(180, 132, 184, 0.15)), url(../docs/images/bg-geometric.png);
  padding-bottom: 4.5em;
}

@media screen and (min-width: 30em) {
  .home {
    /*detail*/
  }
  .home .entry-content .detail {
    padding-top: 2em;
    padding-bottom: 3.5em;
  }
  .home .entry-content h2 {
    margin-bottom: 1.5em;
  }
}

@media screen and (min-width: 48em) {
  .home {
    /*message*/
    /*detail*/
  }
  .home .page-one-column .panel-content {
    overflow: visible;
  }
  .home .page-one-column .panel-content .wrap {
    max-width: 1000px;
  }
  .home .page .panel-content h2 {
    font-size: 28px !important;
    font-size: 1.75rem !important;
    text-transform: none !important;
    display: flex;
    align-items: center;
    text-align: center;
    /* for no-flexbox browsers */
  }
  .home .page .panel-content h2:after {
    border-top: 1px solid #ccc;
    content: "";
    display: inline;
    /* for IE */
    flex-grow: 1;
    margin-left: 0.5em;
  }
  .home .page .panel-content .entry-content h2:after {
    display: none;
  }
  .home .panel-content .flex-wrap {
    display: block;
  }
  .home .panel-content .flex-wrap .top-message {
    margin-bottom: 30px;
  }
  .home .panel-content .flex-wrap .top-image {
    margin-bottom: 100px;
  }
  .home .panel-content .flex-wrap .top-image img {
    border-radius: 10px;
  }
  .home .entry-content .detail {
    background: linear-gradient(45deg, rgba(52, 175, 165, 0.15), rgba(179, 214, 211, 0.15), rgba(180, 132, 184, 0.15)), url(../docs/images/bg-geometric.png);
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-top: 6em;
    padding-bottom: 4.5em;
  }
  .home .entry-content .detail .left {
    width: 48%;
    float: left;
    margin-right: 2%;
  }
  .home .entry-content .detail .right {
    width: 50%;
    float: left;
  }
  .home .googlemaps iframe {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .home .twentyseventeen-front-page.page-one-column .entry-header {
    margin-bottom: 1.5rem;
  }
  .home .recent-posts article h3 a {
    font-size: 1.875rem;
  }
}

.sponsor-logo img {
  border-radius: 5px;
}

.sponsor-logo:hover img {
  background: linear-gradient(45deg, rgba(52, 175, 165, 0.15), rgba(179, 214, 211, 0.15), rgba(180, 132, 184, 0.15));
}

@media screen and (min-width: 48em) {
  .single-wcb_sponsor .entry-content img, .single-wcb_sponsor .entry-content img.logo-sponsor {
    max-width: 600px;
  }
}
