.twentyseventeen-panel {
    border-top: none !important;
    overflow: visible;
    .panel-image {
        display: none;
    }
    .wrap {
        position: relative;
        padding: 5em 1.5em 3em;
        > .entry-header {
            position: relative;
            text-align: center;
            &::before {
                @include bigIndexBefore();
            }
            .entry-title {
                @include bigIndexText();
            }
        }
    }
    &:first-child {
        .wrap {
            > .entry-header {
                display: none;
            }
        }
    }
    &:nth-child(2) {
        .wrap {
            > .entry-header {
                &::before {
                    content: "Welcome";
                }
            }
        }
    }
    &:nth-child(3) {
        .wrap {
            > .entry-header {
                &::before {
                    content: "Blog";
                }
            }
        }
        .recent-posts {
            .entry-header {
                @media screen and (min-width: 48em) {
                    margin: 0 0 .5em;
                }
                .entry-title {
                    a {
                        @include text-gradation();
                        font-weight: bold;
                        &:not(:hover) {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
    &:nth-child(4) {
        .wrap {
            > .entry-header {
                &::before {
                    content: "Outline";
                }
            }
        }
        .block-area {
            margin-bottom: 2em;
            @media screen and (min-width: 48em) {
                //.block-area-inner {
                //    display: flex;
                //    flex-wrap: wrap;
                //    justify-content: space-between;
                //}
                .block-area-left {
                    width: 60%;
                }
                .block-area-right {
                    width: calc(40% - 3em);
                }
            }
        }
        h3 {
            font-size: 1.15rem;
            padding: 0 0 .25em;
            margin: 0 0 1em;
            border-bottom: 1px solid rgba($color-black, .1);
            //@media screen and (min-width: 48em) {
            //    font-size: .9rem;
            //    margin: 0;
            //    width: 4em;
            //}
        }
        h4 {
            font-size: .9rem;
            padding: 0;
            margin: 0 0 .5em;
        }
        p {
            margin: 0 0 .5em;
        }
        .index-sub {
            font-weight: bold;
            margin-right: 1em;
        }
        .outline-detail {
            margin: 0 0 1.5em;
            //@media screen and (min-width: 48em) {
            //    margin: 0;
            //    width: calc(100% - 6em);
            //}
        }
        address {
            margin: .5em 0 .5rem;
            font-size: .8rem;
        }
        iframe {
            width: 100%;
            height: 300px;
            @media screen and (min-width: 48em) {
                height: 400px;
            }
        }
    }
    &:nth-child(5) {
        .wrap {
            > .entry-header {
                &::before {
                    content: "Social Media";
                }
            }
        }
    }
    &:nth-child(2n) {
        @include bg-gradation();
        .wrap {
            > .entry-header {
                &::before {
                    color: rgba($color-white, .95);
                }
            }
        }
    }
}

.link-ticket-front {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(.5em) translateX(-50%);
    text-align: center;
    @media screen and (min-width: 48em) {
        transform: translateY(-2.75em) translateX(-50%);
    }
    .btn-link-default {
        @include btn-link(inline-block);
        margin: 0 auto;
        width: 290px;
        font-size: 1rem;
        @media screen and (min-width: 48em) {
            width: 480px;
            font-size: 1.25rem;
        }
    }
}
