body:not(.home) .site-header{
    background-color: transparent;
    height: 65px;
    .custom-header,
    .site-branding {
        display: none;
    }
}

.single-featured-image-header {
    background-color: $color-white;
    border: none;
    display: none;
}

.entry-title {
    color: #333;
    background: -webkit-linear-gradient(85deg, $color-lilac, $color-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    a{
        margin-left: 0;
        font-weight: 700!important;
        font-size:1.5rem;
        box-shadow: none!important;
        -webkit-box-shadow:none!important;
        &:hover{
            box-shadow: none!important;
            -webkit-box-shadow:none!important;
        }
    }
}

.page-header,
body:not(.home):not(.blog):not(.single) .entry-header {
    background: url(https://wcosaka2018.github.io/wcosaka2018-theme/images/wapu_bg.jpg) center center no-repeat;
    background-size: contain;
    min-height: 120px;
    padding: 0 !important;
    margin: 0 0 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    @media screen and (min-width: 48em) {
        margin: 2em 0 4em;
    }
    .page-title,
    .entry-title {
        background: -webkit-linear-gradient(85deg, $color-lilac, $color-green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        font-size: 1rem !important;
        &:before,
        &:after {
            content: "";
            display: inline-block;
            width: 3em;
            height: 2px;
            margin-top: -1px;
            position: absolute;
            top: 50%;
            background: linear-gradient(85deg, $color-green, $color-lilac);
        }
        &:before {
            left: -3.5em;
        }
        &:after {
            right: -3.5em;
        }
    }
    .edit-link {
        position: absolute;
        bottom: 0;
    }
}

@media screen and (min-width: 48em) {
    body:not(.has-sidebar):not(.page-one-column) .page-header, body.has-sidebar.error404 #primary .page-header, body.page-two-column:not(.archive) #primary .entry-header, body.page-two-column.archive:not(.has-sidebar) #primary .page-header {
        float: none;
        width: 100%;
    }
    .blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments {
        float: none;
        width: 100%;
    }
}
